* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(90deg, #e8fe2a, #11fe0b, #27ebfe);
}

.container {
  background-color: white;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
}

.heading {
  background-color: #f7f7f7;
  padding: 20px 40px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 6px 6px 0 0;
}

.form {
  padding: 30px 40px;
}

.form-group {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-group label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-group input {
  display: block;
  border-radius: 6px;
  border: 2px solid #f0f0f0;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-group input:focus {
  border-color: #00BFFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
}

.button {
  background-color: #00BFFF;
  border: 2px solid #00BFFF;
  color: white;
  padding: 10px;
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
  .heading {
    font-size: 1.2rem;
  }

  .form-group input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .button {
    font-size: 0.9rem;
    padding: 10px;
  }
}
